* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Glitch', cursive;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.principal {
    position: fixed;
    width: 100vw;
    height: 100vh;

}

.section {
    width: 80vw;
    height: 60vh;
    position: relative;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 20px 5px black;
    bottom: 686px;
}

.chame {
    position: relative;
    width: 37px;
    margin-left: 15px;
    margin-top: 30px;
}

.chame:hover {
    width: 45px;
    transition: 1s;
}

.escrições {
    position: relative;
    top: 61px;
}

button {
    width: 87%;
    height: 58px;
    border: none;
    border-radius: 28px;
    font-size: 26px;
    background: black;
    color: white;
    box-shadow: -1px 2px 20px 5px black;
    cursor: pointer;

}

button:hover {
    box-shadow: -1px 2px 20px 5px rgba(255, 0, 0, 0.342);
}

button:active {
    box-shadow: none;
}

h1 {
    font-size: 40px;
    margin-bottom: 23px;
}

p {
    margin-bottom: 15px;
    color: #ff5400;
}

.img-nav {
    position: relative;
    width: 50vw;
    margin-top: 10px;
    left: 33px;
    border-radius: 29%;
    border: 1px solid white;
    box-shadow: 0 5px 15px black;


}

.produtos {
    position: relative;
    width: 87vw;
    height: 95vh;
    margin: auto;
    

}

ul {
    opacity: 0;
    transition: opacity 1s linear;
    background: white;
    position: absolute;
    width: 88%;
    height: 79vh;
    box-shadow: 0px -1px 13px 0px black;
    
}

.mostrar-menu{
    opacity: 1;
    z-index: 4;

}

.icon {
    opacity: 0;
    width: 50px;
    position: absolute;
    left: 500px;
    box-shadow: 15px 15px 15px black;
}

.icon:active {
    box-shadow: 15px 15px 15px white
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 29px;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

li {
    margin-top: 9px;
    position: relative;
    left: 30px;

}

.caldo {

    color: black;
    background-color: rgb(224 212 212);
    box-shadow: 0 3px 16px;
    cursor: pointer;
    width: 90%;
    height: 466px;
    margin: 10px auto;
}

.ingredientes {
    margin-top: 23px;
}

.card {
    height: 15px;
}

.logo {
    bottom: 93px;
    width: 184px;
    border-radius: 47px;
    border: solid 1px white;
    position: relative;
    box-shadow: 0px 7px 14px;
}


@media screen and (min-width: 450px) {
    .section {
        height: 79vh;
        margin-top: 10%;
    }

    ol {
        width: 70%;
        margin-left: 18%;
        height: 75vh;
        top: 120px;

    }

    li {
        width: 63%;
        display: grid;
        top: 6%;
        margin: 20px auto;
    }

}

@media screen and (min-width: 900px) {
    .section {
        bottom: 632px;
        margin-top: 10%;
    }
}


select {
    position: relative;
    margin-top: 27px;
    width: 90%;
    height: 5%;
    appearance: none;
    text-align: center;
    font-size: 26px;
    border-radius: 30px;
    box-shadow: 0 10px 30px black;
    border: none;
    background: rgb(231, 78, 78);
    color: white;
    left: 20px
}

select:active {
    background-color: #ff5400;
}

.menu{
    width: 100vw;
}